@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-100: rgba(243, 244, 246, 1);
  --gray-300: rgb(161, 161, 161, 1);
  --gray-700: rgba(55, 65, 81, 1);
  --red-100: rgba(254, 226, 226, 1);
  --red-700: rgba(185, 28, 28, 1);
  --yellow-100: rgba(254, 243, 199, 1);
  --yellow-700: rgba(180, 83, 9, 1);
  --green-50: rgba(236, 253, 245, 1);
  --green-100: rgba(209, 250, 229, 1);
  --green-700: rgba(4, 120, 87, 1);
  --blue-100: rgba(219, 234, 254, 1);
  --blue-700: rgba(29, 78, 216, 1);
  --indigo-100: rgba(224, 231, 255, 1);
  --indigo-700: rgba(67, 56, 202, 1);
  --purple-100: rgba(237, 233, 254, 1);
  --purple-700: rgba(109, 40, 217, 1);
  --pink-100: rgba(252, 231, 243, 1);
  --pink-700: rgba(190, 24, 93, 1);
  --scale: 2;
  --size-1: calc(.125rem * var(--scale));
  --size-2: calc(.25rem * var(--scale));
  --size-3: calc(.375rem * var(--scale));
  --size-4: calc(.5rem * var(--scale));
  --size-5: calc(.625rem * var(--scale));
  --size-6: calc(.75rem * var(--scale));
  --size-7: calc(.875rem * var(--scale));
  --size-8: calc(1rem * var(--scale));
  --size-16: calc(2rem * var(--scale));
  --size-32: calc(4rem * var(--scale));
}


@layer base {
  html {
    @apply h-full;
  }
  body {
    @apply h-full bg-slate-100;
  }
  header {
    @apply flex justify-between items-center py-4;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  table {
    @apply w-full text-sm;
  }
  tr {
    @apply tracking-wide text-left text-gray-900 bg-gray-100 border-b border-gray-600;
  }
  th {
    @apply px-2 py-1 text-base font-semibold bg-gray-700 text-white;
  }
  tbody {
    @apply bg-white;
  }
  tbody > tr {
    @apply hover:bg-orange-400 odd:bg-white even:bg-slate-200;
  }
  td {
    @apply px-2 py-1 border;
  }
}

@layer components {
  .box {
    @apply p-2;
  }
  .submenu {
    @apply bg-blue-900 py-3;
  }
  .content {
    @apply py-4;
  }
  .page_header {
    @apply flex justify-between pb-2;
  }
  .text-input {
    @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
  }
  .select-input {
    @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6;
  }
  .check-input {
    @apply h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600;
  }
  .textarea-input {
    @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
  }
  .input-label {
    @apply block text-sm font-medium leading-6;
  }
  .check-label {
    @apply text-gray-500;
  }
  .table_container {
    @apply w-full overflow-x-auto;
  }
  .cta_container {
    @apply flex justify-between w-full;
  }
  .badge {
    @apply px-2 py-1 font-semibold leading-tight rounded-sm;
  }
  .badge-success {
    @apply badge text-green-700 bg-green-100;
  }
  .badge-error {
    @apply badge text-red-700 bg-red-100;
  }
  .badge-info {
    @apply badge text-blue-700 bg-blue-100;
  }
  .img-circle-wrapper {
    @apply relative w-8 h-8 mr-3 rounded-full md:block;
  }
  .img-circle {
    @apply object-cover w-full h-full rounded-full;
  }
  .link {
    @apply text-indigo-700 cursor-pointer font-semibold hover:font-normal;
  }
  .dropdown-menu {
    @apply py-1;
  }
  .dropdown-link {
    @apply block px-4 py-2 text-sm text-gray-700 font-semibold border-b last:border-none;
  }
  .invalid-feedback {
    @apply text-red-200 font-thin hidden;
  }
}

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }

  .between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .hstack {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
  }

  .vstack {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
  }

  .gap-1 {
    gap: .25rem !important;
  }

  .gap-2 {
    gap: .5rem !important;
  }

  .gap-3 {
    gap: 1rem !important;
  }

  .gap-4 {
    gap: 2rem !important;
  }

  .gap-5 {
    gap: 4rem !important;
  }

  .btn {
    @apply flex-none flex items-center rounded-md px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 ;
  }

  .cta {
    @apply btn bg-rose-500 hover:bg-rose-400 focus-visible:outline-rose-500;
  }

  .cta_disabled {
    @apply btn bg-gray-600 hover:bg-gray-400 focus-visible:outline-gray-500;
  }
}

header {
  background-color: var(--blue-100);
}